### Set up work

In [3]:
import numpy as np
import pandas as pd
import os

### Read Data

In [9]:
Data_dir = "/Users/kaishen/git_storage/avazuCTR/subsampled_data"
data_path = os.path.join(Data_dir, "random_subsampled50k")
names = ["id","click","hour","C1","banner_pos","site_id","site_domain","site_category","app_id","app_domain","app_category","device_id","device_ip","device_model","device_type","device_conn_type","C14","C15","C16","C17","C18","C19","C20","C21"]


Data = pd.read_csv(data_path, header=None, names = names)

In [10]:
Data.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,10092633484553651060,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15699,320,50,1722,0,35,-1,79
1,10343952888850464712,0,14102100,1005,1,d9750ee7,98572c79,f028772b,ecad2386,7801e8d9,...,1,0,17614,320,50,1993,2,1063,-1,33
2,10496453895854424404,1,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15702,320,50,1722,0,35,-1,79
3,10569013152112121685,0,14102100,1010,1,85f751fd,c4e18dd6,50e219e0,44ee0091,7801e8d9,...,4,3,21665,320,50,2493,3,35,-1,117
4,10576942426193824089,0,14102100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,...,1,0,20366,320,50,2333,0,39,-1,157

In [11]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 24 columns):
id                  50000 non-null uint64
click               50000 non-null int64
hour                50000 non-null int64
C1                  50000 non-null int64
banner_pos          50000 non-null int64
site_id             50000 non-null object
site_domain         50000 non-null object
site_category       50000 non-null object
app_id              50000 non-null object
app_domain          50000 non-null object
app_category        50000 non-null object
device_id           50000 non-null object
device_ip           50000 non-null object
device_model        50000 non-null object
device_type         50000 non-null int64
device_conn_type    50000 non-null int64
C14                 50000 non-null int64
C15                 50000 non-null int64
C16                 50000 non-null int64
C17                 50000 non-null int64
C18                 50000 non-null int64
C19                 50000 non-null int64
C20                 50000 non-null int64
C21                 50000 non-null int64
dtypes: int64(14), object(9), uint64(1)
memory usage: 9.2+ MB

### Split train and test

In [12]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(Data, test_size = 0.2, random_state = 42)

In [32]:
train_y = train_set["click"]
train_X = train_set.drop("click", axis = 1)

In [34]:
test_y = test_set["click"]
test_X = test_set.drop("click", axis = 1)

### preprocess the data

#### how to one hot encode the data?